{% extends 'splunkdj:base_with_app_bar.html' %}

{% load splunkmvc %}

{% load vmap %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css" />
{% endblock css %}

{% block title %}{{your_app_name}}AQI Map in Splunk{% endblock title %}

{% block content %}
<div class="dashboard-body container-fluid main-section-body">
	<div class="row">
        <div class="dashboard-header clearfix">
            <h2>Last 3 days animation</h2>
        </div>
    </div>
    <div class="dashboard-row">
    <div class="dashboard-cell" >
            <div class="dashboard-panel">
                <div class="panel-head">
               
            
                </div>
                <div class="panel-body" id="mapcontrol">
                </div>

            </div>
        </div>
        </div>
     <div class="dashboard-row">
        <div class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel">
                <div class="panel-head">
                    <h3>AQI Map</h3>


                </div>
                <div class="panel-body">

    {% vmap id="mymap" 
    	tileSource="openStreetMap"
    	maptype="default"
    	managerid="search1" 
		fillcolor="grey" 
		valueField="aqi"
		groupField="area"
		nameField="city"
		destFormField="area"
		height=600
		longField="_lng"
		latField="_lat"


		%}
				</div>
            </div>
        </div>
        
    </div>
</div>
{% endblock content %}

	
{% block managers %}

{% searchmanager id="search1" search='index=aqicn | geocncity area | where city_lat!=0 | stats dc(area) as count list(city_lng) as _lng list(city_lat) as _lat list(area) as city list(aqi) as aqi by time_point |makemv  delim=" " city' preview=True
earliest_time="-3d@d" cache=1800
 %}

{% endblock managers %}

<!-- "index=aqicn | stats latest(aqi) as aqi by area | geocncity area | stats max(aqi) as aqi by area city_lat city_lng | rename area as name city_lat as latitude city_lng as longitude" preview=True -->
{% block js %}
<script>
    var deps = [
        "splunkjs/ready!"
    ];
    require(deps, function(mvc) {
        var modSearch = splunkjs.mvc.Components.getInstance("search1");

        modSearch.on('search:done', function(properties) {
            DataAnimationStart = true;
        });

    });
</script>
{% endblock js %}




 