.map {
fill:none;
}

.map.large {
  width:100%;
  min-height: 600px;
}

canvas {
z-index:1!important; 
pointer-events: none;
}

.background {
  pointer-events: all;
}
#mapcontrol {

}
#slider1 {
  width: 100%;
  
}
#mymap {
  position:relative;
}

#aqimap {
  cursor:pointer;
  position:relative;
}

.province.hover {
  fill: orange;
  fill-opacity: 0.3;
          
}

.province {
  fill:   lightsteelblue;
  fill-opacity: 0.9;
  stroke : white;
}

.province.active{
  fill: lightgrey;

}

.container {
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}



.page-header {
padding-bottom: 9px;
margin: 40px 0 20px;
border-bottom: 1px solid #eee;
}
.row {
margin-right: -15px;
margin-left: -15px;
}
h1 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight: 500;
line-height: 1.1;
color: inherit;
margin-top: 20px;
margin-bottom: 10px;
font-size: 36px;
}

.lead {
font-size: 21px;
margin-bottom: 20px;

font-weight: 200;
line-height: 1.4;
}
p {
  margin: 0 0 10px;
  display: block;
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.customlabel {
  width: 280px;
  height: 40px;
  color: black;
  line-height: 30px;
  text-align: center;
  font-size : 24px;
}

.hour.customlabel {
  fill: #777;
}


.hour.label.active {
  fill: #aaa;
  background-color : orange;
}
