

canvas {
margin-top: 36px;
z-index:1!important; 
pointer-events: none;
}

.background {
  pointer-events: all;
}


.province.hover {
  fill: orange;
  fill-opacity: 0.3;
  filter: "url(#dropshadow)";
          
}

.province {
  fill: orange;
  fill-opacity: 0.6;
}

.province.active{
  fill: lightgrey;

}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.label {
  fill: #777;
}

.hour.label {
  font: 500 24px "Helvetica Neue";
  fill: #777;
  background-color : white;
}


.hour.label.active {
  fill: #aaa;
  background-color : orange;
}
